# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
~$*

# My configurations:
php/data/*
php/vendor/*
php/composer.lock
php/test.php
php/app/tests
java/.*
java/bin
/target/
/.settings/
/.classpath
/.project
/logs/
*.iml
.idea
target/
*.exe
.gradle
build
out

vendor/*
data/logs
/.gradle
/out
/build
build

Dockerfile.o
