<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <conversionRule conversionWord="boundedMsg" converterClass="com.rfchina.platform.common.log.converter.SensitiveDataConverter"> </conversionRule>
  <!-- 控制台输出 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{traceId}/%X{spanId}] [${PID}/%thread] [%-5level] %logger{50} - %boundedMsg{password_format=password,password_pattern=*,other_format=idNo:5*2`id_no:5*2`bank_account:*4}%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 日志文件 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/wallet_server.%d{yyyy-MM-dd}.log.${HOSTNAME}</fileNamePattern>
      <maxHistory>60</maxHistory>
    </rollingPolicy>

    <encoder>
      <charset>utf8</charset>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{traceId}/%X{spanId}] [${PID}/%thread] [%-5level] %logger{50} - %boundedMsg{password_format=password,password_pattern=*,other_format=idNo:5*2`id_no:5*2`bank_account:*4}%n</pattern>
    </encoder>
  </appender>

  <logger name="com.rfchina" level="INFO" additivity="false">
    <appender-ref ref="FILE"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="ERROR">
    <appender-ref ref="FILE"/>
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>